In [1]:
import pandas as pd
import pp_colab_v2
from pp_colab_v2 import multi_mod
from base_code.describe_df import data_description

In [2]:
df = data_description("data/marketing_campaign.csv","\t")

****** Rename Columns: ******

Original column names:
 Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

Renamed column names:
 Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mnt_wines', 'mnt_fruits',
       'mnt_meat_products', 'mnt_fish_products', 'mnt_sweet_products',
       'mnt_gold_prods', 'num_deals_purchases', 'num_web_purchases',
       'num_catalog_purchases', 'num_store_purchases', 'num_web_visits_month',
       'accepted_cmp3', 'accepted_cmp4', 'accepted_cmp5', 'accepted_cmp1',
       'accepted_cmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

****** Data Frame Shape: ******

(2240, 29)

****** Head and Tail: ******

****** Describe: ******

****** Nulls by column: ******

id                        0
year_birth                0
education                 0
marital_status            0
income                   24
kidhome                   0
teenhome                  0
dt_customer               0
recency                   0
mnt_wines                 0
mnt_fruits                0
mnt_meat_products         0
mnt_fish_products         0
mnt_sweet_products        0
mnt_gold_prods            0
num_deals_purchases       0
num_web_purchases         0
num_catalog_purchases     0
num_store_purchases       0
num_web_visits_month      0
accepted_cmp3             0
accepted_cmp4             0
accepted_cmp5             0
accepted_cmp1             0
accepted_cmp2             0
complain                  0
z_costcontact             0
z_revenue                 0
response                  0
dtype: int64

****** Info: ******

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2240 non-null   int64
 1   year_birth             2240 non-null   int64
 2   education              2240 non-null   object
 3   marital_status         2240 non-null   object
 4   income                 2216 non-null   float64
 5   kidhome                2240 non-null   int64
 6   teenhome               2240 non-null   int64
 7   dt_customer            2240 non-null   object
 8   recency                2240 non-null   int64
 9   mnt_wines              2240 non-null   int64
 10  mnt_fruits             2240 non-null   int64
 11  mnt_meat_products      2240 non-null   int64
 12  mnt_fish_products      2240 non-null   int64
 13  mnt_sweet_products     2240 non-null   int64
 14  mnt_gold_prods         2240 non-null   int64
 15  num_deals_purchases    2240 non-null   int64
 16  num_web_purchases      2240 non-null   int64
 17  num_catalog_purchases  2240 non-null   int64
 18  num_store_purchases    2240 non-null   int64
 19  num_web_visits_month   2240 non-null   int64
 20  accepted_cmp3          2240 non-null   int64
 21  accepted_cmp4          2240 non-null   int64
 22  accepted_cmp5          2240 non-null   int64
 23  accepted_cmp1          2240 non-null   int64
 24  accepted_cmp2          2240 non-null   int64
 25  complain               2240 non-null   int64
 26  z_costcontact          2240 non-null   int64
 27  z_revenue              2240 non-null   int64
 28  response               2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

****** Duplicated records: ******

****** Columns correlation: ******

****** Total unique values by column: ******

Number of unique values for column id:  2240 | Percent = 100.0%
Number of unique values for column year_birth:  59 | Percent = 2.63%
Number of unique values for column education:  5 | Percent = 0.22%
Number of unique values for column marital_status:  8 | Percent = 0.36%
Number of unique values for column income:  1974 | Percent = 88.12%
Number of unique values for column kidhome:  3 | Percent = 0.13%
Number of unique values for column teenhome:  3 | Percent = 0.13%
Number of unique values for column dt_customer:  663 | Percent = 29.6%
Number of unique values for column recency:  100 | Percent = 4.46%
Number of unique values for column mnt_wines:  776 | Percent = 34.64%
Number of unique values for column mnt_fruits:  158 | Percent = 7.05%
Number of unique values for column mnt_meat_products:  558 | Percent = 24.91%
Number of unique values for column mnt_fish_products:  182 | Percent = 8.12%
Number of unique values for column mnt_sweet_products:  177 | Percent = 7.9%
Number of unique values for column mnt_gold_prods:  213 | Percent = 9.51%
Number of unique values for column num_deals_purchases:  15 | Percent = 0.67%
Number of unique values for column num_web_purchases:  15 | Percent = 0.67%
Number of unique values for column num_catalog_purchases:  14 | Percent = 0.62%
Number of unique values for column num_store_purchases:  14 | Percent = 0.62%
Number of unique values for column num_web_visits_month:  16 | Percent = 0.71%
Number of unique values for column accepted_cmp3:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp4:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp5:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp1:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp2:  2 | Percent = 0.09%
Number of unique values for column complain:  2 | Percent = 0.09%
Number of unique values for column z_costcontact:  1 | Percent = 0.04%
Number of unique values for column z_revenue:  1 | Percent = 0.04%
Number of unique values for column response:  2 | Percent = 0.09%

****** Count for unique values by column(v2): ******

5524    1
6885    1
3478    1
7494    1
1763    1
       ..
5682    1
5564    1
6516    1
6255    1
9405    1
Name: id, Length: 2240, dtype: int64


1976    89
1971    87
1975    83
1972    79
1978    77
1970    77
1973    74
1965    74
1969    71
1974    69
1956    55
1958    53
1979    53
1952    52
1977    52
1968    51
1959    51
1966    50
1954    50
1955    49
1960    49
1982    45
1963    45
1967    44
1962    44
1957    43
1951    43
1983    42
1986    42
1964    42
1980    39
1981    39
1984    38
1961    36
1953    35
1985    32
1989    30
1949    30
1950    29
1988    29
1987    27
1948    21
1990    18
1946    16
1947    16
1991    15
1992    13
1945     8
1943     7
1944     7
1993     5
1995     5
1994     3
1996     2
1899     1
1941     1
1893     1
1900     1
1940     1
Name: year_birth, dtype: int64


Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: education, dtype: int64


Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: marital_status, dtype: int64


7500.0     12
35860.0     4
37760.0     3
83844.0     3
63841.0     3
           ..
40760.0     1
41452.0     1
6835.0      1
33622.0     1
52869.0     1
Name: income, Length: 1974, dtype: int64


0    1293
1     899
2      48
Name: kidhome, dtype: int64


0    1158
1    1030
2      52
Name: teenhome, dtype: int64


31-08-2012    12
12-09-2012    11
14-02-2013    11
12-05-2014    11
20-08-2013    10
              ..
05-08-2012     1
18-11-2012     1
25-05-2013     1
14-04-2013     1
09-01-2014     1
Name: dt_customer, Length: 663, dtype: int64


56    37
30    32
54    32
46    31
92    30
      ..
41    15
59    14
22    13
7     12
44    11
Name: recency, Length: 100, dtype: int64


2       42
5       40
1       37
6       37
4       33
        ..
806      1
61       1
986      1
1230     1
428      1
Name: mnt_wines, Length: 776, dtype: int64


0      400
1      162
2      120
3      116
4      104
      ...
164      1
130      1
189      1
101      1
154      1
Name: mnt_fruits, Length: 158, dtype: int64


7      53
5      50
11     49
8      46
6      43
       ..
116     1
569     1
685     1
354     1
182     1
Name: mnt_meat_products, Length: 558, dtype: int64


0      384
2      156
3      130
4      108
6       82
      ...
232      1
167      1
247      1
194      1
229      1
Name: mnt_fish_products, Length: 182, dtype: int64


0      419
1      161
2      128
3      101
4       82
      ...
146      1
132      1
167      1
99       1
111      1
Name: mnt_sweet_products, Length: 177, dtype: int64


1      73
4      70
3      69
5      63
12     63
       ..
178     1
169     1
132     1
262     1
247     1
Name: mnt_gold_prods, Length: 213, dtype: int64


1     970
2     497
3     297
4     189
5      94
6      61
0      46
7      40
8      14
9       8
15      7
10      5
11      5
12      4
13      3
Name: num_deals_purchases, dtype: int64


2     373
1     354
3     336
4     280
5     220
6     205
7     155
8     102
9      75
0      49
11     44
10     43
27      2
23      1
25      1
Name: num_web_purchases, dtype: int64


0     586
1     497
2     276
3     184
4     182
5     140
6     128
7      79
8      55
10     48
9      42
11     19
28      3
22      1
Name: num_catalog_purchases, dtype: int64


3     490
4     323
2     223
5     212
6     178
8     149
7     143
10    125
9     106
12    105
13     83
11     81
0      15
1       7
Name: num_store_purchases, dtype: int64


7     393
8     342
6     340
5     281
4     218
3     205
2     202
1     153
9      83
0      11
20      3
10      3
14      2
19      2
17      1
13      1
Name: num_web_visits_month, dtype: int64


0    2077
1     163
Name: accepted_cmp3, dtype: int64


0    2073
1     167
Name: accepted_cmp4, dtype: int64


0    2077
1     163
Name: accepted_cmp5, dtype: int64


0    2096
1     144
Name: accepted_cmp1, dtype: int64


0    2210
1      30
Name: accepted_cmp2, dtype: int64


0    2219
1      21
Name: complain, dtype: int64


3    2240
Name: z_costcontact, dtype: int64


11    2240
Name: z_revenue, dtype: int64


0    1906
1     334
Name: response, dtype: int64

In [3]:
model_variables = [
    "mnt_wines",
    "client_age",
    "total_children",
    "income",
    "num_web_visits_month",
    "mnt_meat_products",
    "mnt_fruits",
    "num_store_purchases",
    "num_catalog_purchases",
    "num_deals_purchases"
]

In [4]:
multi_mod(df,model_variables)

 (1598, 26)

       mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
1412       0.219249      0.001404         0.010297        0.000446
1495       1.035024      0.039782         0.033081        0.000478
1379       0.607460      0.002487         0.025265        0.000876
1424       0.650783      0.003434         0.024873        0.000660
1498       0.509311      0.003650         0.017288        0.000783
1407       0.219679      0.001431         0.009523        0.000592
1410       0.884514      0.017050         0.033288        0.000886
1414       0.655491      0.005708         0.025309        0.000420
1429       0.707245      0.023116         0.025639        0.000965
1469       0.756254      0.041798         0.024982        0.000594
1354       0.555239      0.002902         0.025470        0.000659
1405       0.889743      0.028436         0.034263        0.002126

                                            param_model param_model__copy_X  \
1412  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1495  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1379  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1424  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1498  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1407  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1410  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1414  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1429  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1469  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1354  RandomForestRegressor(max_depth=6, max_samples...                 NaN
1405  RandomForestRegressor(max_depth=6, max_samples...                 NaN

     param_model__fit_intercept param_model__bootstrap param_model__max_depth  \
1412                        NaN                   True                      6
1495                        NaN                   True                      6
1379                        NaN                   True                      6
1424                        NaN                   True                      6
1498                        NaN                   True                      6
1407                        NaN                   True                      6
1410                        NaN                   True                      6
1414                        NaN                   True                      6
1429                        NaN                   True                      6
1469                        NaN                   True                      6
1354                        NaN                   True                      6
1405                        NaN                   True                      6

     param_model__max_samples  ... param_model__splitter  \
1412                     0.67  ...                   NaN
1495                      1.0  ...                   NaN
1379                     0.56  ...                   NaN
1424                     0.67  ...                   NaN
1498                      1.0  ...                   NaN
1407                     0.67  ...                   NaN
1410                     0.67  ...                   NaN
1414                     0.67  ...                   NaN
1429                     0.78  ...                   NaN
1469                     0.89  ...                   NaN
1354                     0.45  ...                   NaN
1405                     0.67  ...                   NaN

                                                 params split0_test_score  \
1412  {'model': RandomForestRegressor(max_depth=6, m...       -148.348878
1495  {'model': RandomForestRegressor(max_depth=6, m...       -147.784745
1379  {'model': RandomForestRegressor(max_depth=6, m...       -148.678704
1424  {'model': RandomForestRegressor(max_depth=6, m...       -148.931266
1498  {'model': RandomForestRegressor(max_depth=6, m...       -148.404515
1407  {'model': RandomForestRegressor(max_depth=6, m...       -149.450467
1410  {'model': RandomForestRegressor(max_depth=6, m...       -148.473859
1414  {'model': RandomForestRegressor(max_depth=6, m...       -149.157381
1429  {'model': RandomForestRegressor(max_depth=6, m...       -148.793870
1469  {'model': RandomForestRegressor(max_depth=6, m...       -149.126311
1354  {'model': RandomForestRegressor(max_depth=6, m...       -148.985031
1405  {'model': RandomForestRegressor(max_depth=6, m...       -149.332002

     split1_test_score split2_test_score split3_test_score split4_test_score  \
1412       -165.826983       -161.117154       -151.788916       -137.950051
1495       -165.623927       -160.503116       -152.944010       -138.385373
1379       -164.989624       -161.671173       -151.408193       -138.522416
1424       -165.723605       -160.947172       -152.166389       -137.580945
1498       -165.592450       -161.198962       -152.588913       -138.030294
1407       -164.872305       -161.407272       -151.659480       -138.458012
1410       -165.403299       -160.923168       -153.092333       -138.058731
1414       -164.862839       -161.018192       -152.975602       -137.994825
1429       -165.795852       -161.030967       -152.969610       -137.450490
1469       -164.902672       -160.707543       -153.629660       -137.708754
1354       -165.693620       -161.178446       -152.293788       -138.113084
1405       -165.340540       -161.067564       -152.439643       -138.158076

     mean_test_score  std_test_score  rank_test_score
1412     -153.006397        9.798164                1
1495     -153.048234        9.554455                2
1379     -153.054022        9.484025                3
1424     -153.069875        9.798163                4
1498     -153.163027        9.706075                5
1407     -153.169507        9.352602                6
1410     -153.190278        9.593470                7
1414     -153.201768        9.431187                8
1429     -153.208158        9.874141                9
1469     -153.214988        9.487601               10
1354     -153.252794        9.653335               11
1405     -153.267565        9.498079               12

[12 rows x 26 columns]

       mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
1562       0.003186      0.000424         0.006338        0.000523
1502       0.003919      0.000458         0.004040        0.000377
1593       0.030373      0.001713         0.002008        0.000492
1579       0.003556      0.000345         0.001470        0.000320
1591       0.025202      0.001238         0.001823        0.000207
1577       0.003740      0.000511         0.001465        0.000197
1574       0.003911      0.000576         0.001690        0.000456
1589       0.021367      0.001602         0.001623        0.000041
1586       0.027991      0.000389         0.001918        0.000275
1575       0.003349      0.000225         0.001479        0.000213
1587       0.014947      0.001822         0.001783        0.000301
1          0.006612      0.002730         0.002166        0.000517

                  param_model param_model__copy_X param_model__fit_intercept  \
1562    KNeighborsRegressor()                 NaN                        NaN
1502    KNeighborsRegressor()                 NaN                        NaN
1593  DecisionTreeRegressor()                 NaN                        NaN
1579  DecisionTreeRegressor()                 NaN                        NaN
1591  DecisionTreeRegressor()                 NaN                        NaN
1577  DecisionTreeRegressor()                 NaN                        NaN
1574  DecisionTreeRegressor()                 NaN                        NaN
1589  DecisionTreeRegressor()                 NaN                        NaN
1586  DecisionTreeRegressor()                 NaN                        NaN
1575  DecisionTreeRegressor()                 NaN                        NaN
1587  DecisionTreeRegressor()                 NaN                        NaN
1          LinearRegression()                True                      False

     param_model__bootstrap param_model__max_depth param_model__max_samples  \
1562                    NaN                    NaN                      NaN
1502                    NaN                    NaN                      NaN
1593                    NaN                      4                      NaN
1579                    NaN                      3                      NaN
1591                    NaN                      3                      NaN
1577                    NaN                      2                      NaN
1574                    NaN                      1                      NaN
1589                    NaN                      2                      NaN
1586                    NaN                      1                      NaN
1575                    NaN                      1                      NaN
1587                    NaN                      1                      NaN
1                       NaN                    NaN                      NaN

      ... param_model__splitter  \
1562  ...                   NaN
1502  ...                   NaN
1593  ...                random
1579  ...                random
1591  ...                random
1577  ...                random
1574  ...                  best
1589  ...                random
1586  ...                  best
1575  ...                random
1587  ...                random
1     ...                   NaN

                                                 params split0_test_score  \
1562  {'model': KNeighborsRegressor(), 'model__algor...       -196.005190
1502  {'model': KNeighborsRegressor(), 'model__algor...       -196.005190
1593  {'model': DecisionTreeRegressor(), 'model__cri...       -222.153897
1579  {'model': DecisionTreeRegressor(), 'model__cri...       -198.912128
1591  {'model': DecisionTreeRegressor(), 'model__cri...       -197.395735
1577  {'model': DecisionTreeRegressor(), 'model__cri...       -230.346586
1574  {'model': DecisionTreeRegressor(), 'model__cri...       -201.996604
1589  {'model': DecisionTreeRegressor(), 'model__cri...       -203.416657
1586  {'model': DecisionTreeRegressor(), 'model__cri...       -205.038595
1575  {'model': DecisionTreeRegressor(), 'model__cri...       -227.174192
1587  {'model': DecisionTreeRegressor(), 'model__cri...       -272.093533
1     {'model': LinearRegression(), 'model__copy_X':...       -324.400732

     split1_test_score split2_test_score split3_test_score split4_test_score  \
1562       -210.987886       -217.385404       -206.037778       -193.049814
1502       -210.987886       -217.385404       -206.037778       -193.049814
1593       -202.521558       -203.020406       -223.101990       -183.266974
1579       -223.403185       -223.021435       -198.769791       -193.460857
1591       -208.283809       -246.695195       -206.809504       -191.471710
1577       -218.259085       -223.628500       -211.811498       -189.139620
1574       -229.853059       -226.449933       -216.749913       -205.809713
1589       -229.616541       -233.392569       -223.344967       -201.658355
1586       -234.972113       -229.978922       -214.521889       -211.305221
1575       -251.721911       -238.438199       -264.949339       -262.433323
1587       -309.087083       -270.419284       -212.112209       -227.116203
1          -343.108854       -338.286336       -333.403664       -334.855872

     mean_test_score  std_test_score  rank_test_score
1562     -204.693214        9.094756             1577
1502     -204.693214        9.094756             1577
1593     -206.812965       14.750525             1589
1579     -207.513479       12.968353             1590
1591     -210.131191       19.296326             1591
1577     -214.637058       14.134055             1592
1574     -216.171844       10.967772             1593
1589     -218.285818       13.264680             1594
1586     -219.163348       11.399084             1595
1575     -248.943393       14.353716             1596
1587     -258.165662       34.704805             1597
1        -334.811092        6.185283             1598

[12 rows x 26 columns]

Best score:  -153.0063965777675

 {'model': RandomForestRegressor(max_depth=6, max_samples=0.67, min_samples_split=4), 'model__bootstrap': True, 'model__max_depth': 6, 'model__max_samples': 0.67, 'model__min_samples_split': 4, 'model__n_estimators': 100}

 Pipeline(steps=[('Scaler', StandardScaler()),
                ('model',
                 RandomForestRegressor(max_depth=6, max_samples=0.67,
                                       min_samples_split=4))])

       client_age  total_children   income  num_web_visits_month  \
267           52               2  38097.0                     7
1481          62               1  62807.0                     5
1476          66               0  64857.0                     4
1606          45               1  71855.0                     3
1144          77               0  63285.0                     3
911           30               0  75114.0                     2
1077          46               2  26907.0                     7
1387          46               2  26907.0                     7
1712          44               1  41154.0                     5
1919          57               2  34230.0                     7
1674          52               1  69016.0                     5
62            70               1  61823.0                     7
891           57               2  51390.0                     5
769           66               1  62058.0                     6
496           44               1  55563.0                     3
2095          72               2  48699.0                     5
2163          73               0  74859.0                     3
122           37               2  19510.0                     7
42            65               1  21994.0                     5
739           53               1  62882.0                     4
1322          54               1  77382.0                     1
494           78               0  55614.0                     7
486           46               1  65104.0                     7
1540          33               1  31928.0                     7
857           37               2  55357.0                     5
9             72               2   5648.0                    20
1037          50               2  46423.0                     7
2             57               0  71613.0                     4
145           46               2  59809.0                     8
1082          66               0  79456.0                     3
1446          51               0  78041.0                     2
2017          55               2  27943.0                     8
2158          67               1  58482.0                     6
219           42               1  69508.0                     6
2064          48               1  67445.0                     6
501           61               1  48330.0                     5
194           49               2  51148.0                     6
1147          66               2  54450.0                     8
708           74               1  66375.0                     7
346           57               2  44300.0                     6
859           33               0  85710.0                     2
999           66               1  46086.0                     4
779           51               1  72258.0                     2
930           48               0  79632.0                     2
1567          68               1  75315.0                     2
752           47               1  58330.0                     4
1436          61               2  60544.0                     6
1532          47               1  69283.0                     5
669           51               2  54690.0                     3
1333          74               0  90842.0                     1
1662          46               1  64892.0                     4
487           48               1  60093.0                     6
589           63               0  24221.0                     4
1971          39               1  39062.0                     4
1837          65               1  47743.0                     6
309           30               0  42670.0                     4
1236          66               1  55249.0                     3
1054          39               1  27100.0                     7
556           44               1  54880.0                     5
1777          45               0  28973.0                     8

      mnt_meat_products  mnt_fruits  num_store_purchases  \
267                  35           2                    2
1481                135          28                   12
1476                717          14                   10
1606                422          31                   11
1144                249         124                   13
911                 523          12                    5
1077                  7           1                    3
1387                  7           1                    3
1712                 11           2                    4
1919                  4           0                    2
1674                363          53                   13
62                  134           7                   10
891                  47          20                    5
769                  74           7                    7
496                   9           1                    3
2095                 10           1                    3
2163                614          73                   11
122                   7           0                    3
42                    6           0                    3
739                 497         133                    6
1322                231          48                   12
494                 131          13                    6
486                 232           0                    7
1540                 24           4                    4
857                 116          64                   11
9                     6           0                    0
1037                 16           0                    4
2                   127          49                   10
145                 141          16                    6
1082                548          42                    4
1446                553          35                    9
2017                 16           1                    3
2158                115           7                    9
219                 162          32                   11
2064                217          80                   12
501                   4           0                    3
194                  45           6                    6
1147                171           0                    8
708                  45           0                    5
346                   9           0                    3
859                 350          20                   10
999                  32           8                    8
779                 522           0                    5
930                 510           0                    9
1567                171          15                   12
752                 213          53                   13
1436                 43           2                    5
1532                134          62                   13
669                  37          16                    5
1333                118          70                   13
1662                230          24                   12
487                 109          12                   10
589                   9           9                    3
1971                  9           0                    3
1837                 43           2                    6
309                  46           2                    4
1236                 19           1                    4
1054                 13           0                    3
556                 137          85                   11
1777                 46           0                    5

      num_catalog_purchases  num_deals_purchases  y_test      y_pred  \
267                       2                    4      77   76.990523
1481                      3                    3     526  526.141333
1476                      5                    1     556  555.335102
1606                      5                    4     548  551.645905
1144                      5                    1     508  504.479947
911                      10                    1     571  566.555264
1077                      0                    2       9    9.070727
1387                      0                    2       9    9.070727
1712                      0                    1      44   44.396083
1919                      0                    1      15   15.151869
1674                      9                    4     726  734.835846
62                        2                    4     523  529.921654
891                       2                    6     205  208.019715
769                       1                    4     301  296.530503
496                       0                    1      29   28.559798
2095                      0                    1      26   26.408207
2163                      5                    1     570  581.307202
122                       0                    2       9    8.819078
42                        0                    1       9    8.819078
739                       5                    2     509  497.472752
1322                      7                    2     491  478.707886
494                       4                    1     504  516.804123
486                       5                    2     738  757.845656
1540                      0                    2      33   31.943604
857                       2                    3     374  361.313536
9                         0                    1      28   27.008220
1037                      0                    3      68   65.386632
2                         2                    1     426  443.958949
145                       3                    3     598  572.558713
1082                      6                    1     565  589.685266
1446                      4                    1     482  506.491753
2017                      0                    3      12   12.628755
2158                      4                    2     576  544.833391
219                       4                    2     824  777.819634
2064                      6                    5     757  800.506416
501                       0                    1      28   26.320902
194                       1                    4     235  220.507071
1147                      2                   12     454  482.817561
708                       4                    3     712  758.224999
346                       0                    2      30   28.020910
859                       9                    1     600  641.000356
999                       1                    4     244  261.044749
779                       9                    2     522  559.795400
930                       4                    1     471  507.195597
1567                      4                    2     459  494.634260
752                       4                    1     445  410.446712
1436                      1                    4     201  184.180853
1532                      3                    4     674  617.138005
669                       1                    3     111  120.441813
1333                      9                    1     774  839.882485
1662                      4                    2     527  480.379408
487                       2                    2     502  457.551767
589                       1                    1       8    8.716116
1971                      0                    1      23   25.175040
1837                      1                    3     198  216.889017
309                       2                    1     154  169.002023
1236                      1                    1      97   87.301485
1054                      0                    1      12   10.797489
556                       2                    2     308  339.921527
1777                      1                    2     206  184.396660

      residuals  abs_percent
267    0.009477       0.0123
1481  -0.141333       0.0269
1476   0.664898       0.1196
1606  -3.645905       0.6653
1144   3.520053       0.6929
911    4.444736       0.7784
1077  -0.070727       0.7859
1387  -0.070727       0.7859
1712  -0.396083       0.9002
1919  -0.151869       1.0125
1674  -8.835846       1.2171
62    -6.921654       1.3235
891   -3.019715       1.4730
769    4.469497       1.4849
496    0.440202       1.5179
2095  -0.408207       1.5700
2163 -11.307202       1.9837
122    0.180922       2.0102
42     0.180922       2.0102
739   11.527248       2.2647
1322  12.292114       2.5035
494  -12.804123       2.5405
486  -19.845656       2.6891
1540   1.056396       3.2012
857   12.686464       3.3921
9      0.991780       3.5421
1037   2.613368       3.8432
2    -17.958949       4.2157
145   25.441287       4.2544
1082 -24.685266       4.3691
1446 -24.491753       5.0813
2017  -0.628755       5.2396
2158  31.166609       5.4109
219   46.180366       5.6044
2064 -43.506416       5.7472
501    1.679098       5.9968
194   14.492929       6.1672
1147 -28.817561       6.3475
708  -46.224999       6.4923
346    1.979090       6.5970
859  -41.000356       6.8334
999  -17.044749       6.9856
779  -37.795400       7.2405
930  -36.195597       7.6848
1567 -35.634260       7.7635
752   34.553288       7.7648
1436  16.819147       8.3677
1532  56.861995       8.4365
669   -9.441813       8.5061
1333 -65.882485       8.5119
1662  46.620592       8.8464
487   44.448233       8.8542
589   -0.716116       8.9515
1971  -2.175040       9.4567
1837 -18.889017       9.5399
309  -15.002023       9.7416
1236   9.698515       9.9985
1054   1.202511      10.0209
556  -31.921527      10.3641
1777  21.603340      10.4871

       client_age  total_children    income  num_web_visits_month  \
1170          26               0   14421.0                     5
136           46               1    9548.0                     8
1284          71               0   26997.0                     7
306           56               0   27038.0                     9
428           33               1   10404.0                     5
2104          50               0   14188.0                     6
675           48               2   26751.0                     8
105           43               1   24594.0                     5
1693          41               1   24336.0                     7
1587          57               0   61482.0                     2
1276          47               1   37368.0                     6
1431          49               1   31163.0                     6
1519          52               1   27242.0                     9
1334          44               1   88097.0                     9
1482          41               1   19414.0                     8
317           37               1   66503.0                     3
1725          43               1   16653.0                     6
1087          64               0   84460.0                     5
252           48               0  102692.0                     2
1514          45               0   20981.0                     8
2137          52               1   20587.0                     7
833           42               1   25130.0                     7
1845          47               0   86836.0                     5
1356          44               1   38136.0                     8
1412          53               2   43142.0                     7
995           27               0   34824.0                     6
1438          58               0   42523.0                     2
748           52               1   33697.0                     7
1645          62               0   39228.0                     4
781           46               2   36283.0                     4
1132          44               1   42693.0                     5
2086          30               0   87000.0                     2
1345          47               1   33249.0                     6
712           47               1   33249.0                     6
104           63               0   87195.0                     1
345           70               0   82623.0                     1
2107          52               1   72967.0                     5
1429          50               0   31907.0                     7
533           60               2   65316.0                     4
810           41               0   26872.0                     6
1417          74               0   51315.0                     2
1079          44               1   41014.0                     7
442           76               0   18100.0                     5
991           50               1   24884.0                     7
1101          43               1   54210.0                     5
1808          66               0   90369.0                     1
1257          47               1   74190.0                     2
453           42               2   70829.0                     3
558           52               0   15315.0                     5
817           68               0   22507.0                     9
1935          47               2   34984.0                     7
1247          54               2   40521.0                     5
1551          57               0   76800.0                     1
538           70               1   57247.0                     2
413           35               1   46923.0                     7
1335          47               1   51948.0                     5
506           46               1   65665.0                     3
1548          65               1   66033.0                     7
2029          37               1    7500.0                     9
2113          48               1   43018.0                     5

      mnt_meat_products  mnt_fruits  num_store_purchases  \
1170                  2           0                    2
136                   3           1                    3
1284                 78          23                    5
306                  25          26                    3
428                  11           2                    4
2104                 11           7                    4
675                   5           1                    2
105                   6           3                    3
1693                  2           6                    2
1587                 68          58                    6
1276                 11           2                    2
1431                 10           3                    3
1519                 26          17                    3
1334                480           0                    8
1482                 12           3                    3
317                 128          64                    6
1725                 31           7                    3
1087                103          27                    4
252                 444         148                   13
1514                 10          12                    2
2137                  6           3                    2
833                   7           5                    3
1845                273          21                    6
1356                 27          15                    2
1412                  7           1                    2
995                  11           2                    2
1438                 11          36                    4
748                   7           3                    2
1645                  6           1                    3
781                   5           5                    3
1132                 20           4                    3
2086                607          25                    7
1345                 21          10                    3
712                  21          10                    3
104                 690          76                    5
345                 204          34                    4
2107                179          35                    8
1429                 64          87                    6
533                  92           6                    5
810                   8          10                    2
1417                 39          28                    5
1079                  6           2                    2
442                   2           1                    3
991                   7           6                    3
1101                109          54                    7